
  $cursor-size: 28px;
  $bg: #FAF7EE;
  
  #cursor {
    position: fixed;
    top: calc(#{$cursor-size} * -0.5);
    left:  calc(#{$cursor-size} * -0.5);
    pointer-events: none;
    mix-blend-mode: difference;  
    filter: url(#goo);
  }
  
  .cursor-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: $cursor-size;
    height: $cursor-size;
    border-radius: $cursor-size;
    background: $bg;
    transform-origin: center center;
  }
  
  body {
    overflow-x: hidden;
  /*   cursor: none; */
  }
  
  h1 {
    margin: 0;
    font-size: 148px;
    line-height: 1;
    font-family: sans-serif;
    text-transform: uppercase;
    user-select: none;
  }
  
  .goo {
    display: none;
  }

  .cursor-wrapper {
    @include mobile() {
      display: none;
    }
  }